<div class="backimg">
    <br><br><br>
  <div class="container">
    <div class="row">


      <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-xs-6">
                <h3 class="panel-title"><b>Display DVD
                  </b></h3>
              </div>
              


            </div>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-bordered table-list">
              <thead>
                <tr>
                  <th>
                    <h6><b>ISBN</b></h6>
                  </th>
                  <th>
                    <h6><b>Title</b></h6>
                  </th>
                  <th>
                    <h6><b>Sector</b></h6>
                  </th>
                  <th>
                    <h6><b>Available Languages</b></h6>
                  </th>
                  <th>
                    <h6><b>Available Subtitles</b></h6>
                  </th>
                  <th>
                    <h6><b>publication date</b></h6>
                  </th>
                </tr>
              </thead>
            </table>

          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col col-xs-4">Page 4 of 5
              </div>
              <div class="col col-xs-8">
                <ul class="pagination hidden-xs pull-right">
                  <li><a routerLink="/displaydvd" routerLinkactive="active">1</a></li>
                  <li><a routerLink="/displaydvd1" routerLinkactive="active">2</a></li>
                  <li><a routerLink="/displaydvd2" routerLinkactive="active">3</a></li>
                  <li><a routerLink="/displaydvd3" routerLinkactive="active">4</a></li>
                  <li><a routerLink="/displaydvd4" routerLinkactive="active">5</a></li>
                </ul>
                <ul class="pagination visible-xs pull-right">                  
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>