<div>
<app-topnav></app-topnav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31b0b078f5da0a750f05e27c6d9df39b&w=1000&q=80')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">UOW Library Management System</h3>
            <p class="lead">“Books are a uniquely portable magic.” – Stephen King</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/02/65/63/65578876d4f20e9.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">UOW Library Management System</h3>
            <p class="lead">“Today a reader, tomorrow a leader.” – Margaret Fuller</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://shopforclipart.com/images/school-library-pictures/17.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">UOW Library Management System</h3>
            <p class="lead">“The world was hers for the reading.” – Betty Smith</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  <hr>

</div>