<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/main" routerLinkactive="active">
          <h6>Home </h6><span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add" routerLinkactive="active">
          <h6>Add Item</h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/display" routerLinkactive="active">
          <h6>Display Item</h6>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/addreader" routerLinkactive="active">
            <h6>Add Reader</h6>
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/borrow" routerLinkactive="active">
          <h6>Issue Item</h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/return" routerLinkactive="active">
          <h6>Return Item</h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/delete" routerLinkactive="active">
          <h6>Delete Item</h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report" routerLinkactive="active">
          <h6>Report</h6>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/other" routerLinkactive="active">
            <h6>Other</h6>
          </a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a routerLink="/login" routerLinkactive="active">Log
          Out</a></button>
    </form>
  </div>
</nav>