<div class="backimg">
	<app-topnav></app-topnav>
	
			<div id="home_quicklinks">
			<a class="quicklink link1" routerLink="/displaybook" routerLinkactive="active">
				<span class="ql_caption">
					<span class="outer">
						<span class="inner">
							<h2>Display<br>Book</h2>
						</span>
					</span>
				</span>
				<span class="ql_top"></span>
				<span class="ql_bottom"></span>
			</a>
	
	
			<a class="quicklink link2" routerLink="/displaydvd" routerLinkactive="active">
				<span class="ql_caption">
					<span class="outer">
						<span class="inner">
							<h2>Display<br>DVD</h2>
						</span>
					</span>
				</span>
				<span class="ql_top"></span>
				<span class="ql_bottom"></span>
			</a>
		</div>
	</div>